
.product-card {
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 15px;
  background: #fff;
  padding: 15px;
  margin: 12px;
  width: 290px;
  margin-left: 20px;
  text-align: center;

}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}


.contact-input {
          color: #fff;
          height: 50px;
          transition: all 0.3s ease-in-out;
        }

     .contact-input:focus {
      border-color: #d64064 !important;
      box-shadow: 0 0 5px #d64064 !important;
}

        textarea.contact-input {
          height: auto;
        }